#wrapper

  %section#pricing-plans.dark
    .row
      .medium-3.small-12.columns.animated.medium-centered{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Prices

    #pricing-tables
      .row
        .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
          %ul.pricing-table
            %li.title Lite
            %li.price Free
            %li.description An awesome description
            %li.bullet-item 1 Database
            %li.bullet-item 5GB Storage
            %li.bullet-item 20 Users
            %li.cta-button
              .button.disabled{:'data-plan' => 'free', :'data-plan-type' => 'free'} -

        .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
          %ul.pricing-table
            %li.title Standard
            %li.price $40.00 / Mth
            %li.description An awesome description
            %li.bullet-item 1 Database
            %li.bullet-item 5GB Storage
            %li.bullet-item 20 Users
            %li.cta-button
              = link_to 'Buy Now', new_payment_method_path(plan: 'standard'), class: 'button buy-now'

        .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
          %ul.pricing-table
            %li.title Elite
            %li.price $80.00 / Mth
            %li.description An awesome description
            %li.bullet-item 1 Database
            %li.bullet-item 5GB Storage
            %li.bullet-item 20 Users
            %li.cta-button
              = link_to 'Buy Now', new_payment_method_path(plan: 'standard'), class: 'button buy-now'

        .medium-12.columns.text-center
          = link_to "I want to check Tengence out first. Skip", root_path
