#wrapper

  %section#pricing-plans.dark
    .row
      .medium-3.small-12.columns.animated.medium-centered{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 Prices

    #pricing-tables
      .row
        .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
          %ul.pricing-table
            %li.title Lite
            %li.price Free
            %li.description An awesome description
            %li.bullet-item 1 Database
            %li.bullet-item 5GB Storage
            %li.bullet-item 20 Users
            %li.cta-button
              .button.disabled{:'data-plan' => 'free', :'data-plan-type' => 'free'} -

        .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
          %ul.pricing-table
            %li.title Standard
            %li.price $40.00 / Mth
            %li.description An awesome description
            %li.bullet-item 1 Database
            %li.bullet-item 5GB Storage
            %li.bullet-item 20 Users
            %li.cta-button
              .button.buy-now{:'data-plan' => '$40.00 / Mth', :'data-plan-type' => 'standard'} Buy Now

        .medium-4.columns.animated{"data-animate" => "flipInY", "data-animate-delay" => "10"}
          %ul.pricing-table
            %li.title Elite
            %li.price $80.00 / Mth
            %li.description An awesome description
            %li.bullet-item 1 Database
            %li.bullet-item 5GB Storage
            %li.bullet-item 20 Users
            %li.cta-button
              .button.buy-now{:'data-plan' => '$80.00 / Mth', :'data-plan-type' => 'elite'} Buy Now

        .medium-12.columns.text-center
          = link_to "I want to check Tengence out first. Skip", root_path

  %section#payment-method
    .row
      #message
      = form_tag checkout_path, id: 'contactform' do |f|
        = hidden_field_tag 'subscribed_plan', nil
        .small-6.columns.small-centered.text-center
          Selected Plan        
        .small-6.columns.small-centered#plan-price
        .small-6.columns.small-centered.text-center
          %br
          Please Select Payment Method
        .small-6.columns.small-centered
          #payment-form
        .small-12.columns.text-center
          %button#submit{:name => "email", :type => "submit"} SEND

- content_for :javascript do
  %script{:src => "https://js.braintreegateway.com/v2/braintree.js"}
  :javascript
    var BTclientToken = "#{@client_token}";
    $(function(){
      $('.buy-now').click(function(){
        $('#subscribed_plan').val($(this).data('plan-type'));
        $('#plan-price').text($(this).data('plan'));
        $('html,body').animate({scrollTop: $(this).offset().top});
        if ($('#payment-method').is(":visible")) {
        } else {
          $('#payment-method').slideDown();
        }
      });
    });