#wrappper
  %section
    .row
      .medium-6.columns.medium-centered.animated{"data-animate" => "fadeInDown", "data-animate-delay" => "0"}
        .title-section
          %h3 My Keywords
    .row
      #message
      = form_tag keywords_user_path, method: :post do
        .small-8.columns.medium-centered.text-center
          = text_area_tag 'keywords', cookies[:keywords] || current_user.keywords, placeholder: "Enter up to 20 keywords separated by commas, eg. jurong,maintenance, event"
          %button#submit{:type => "submit"} SUBMIT
