= react_component 'TendersListing', {url: api_v1_watched_tenders_path(page: params[:page]), current_tenders_count: @current_tenders_count}

#view-more-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
