-# #wrapper
-#   - if params['query'].blank?
-#     %section#hero
-#       .row
-#         .small-6.column.text-center
-#           .counter.animated{"data-perc" => "#{CurrentTender.count}"}
-#             .number-detail
-#               %h2
-#                 .number
-#                 .text Current Tenders
-#         .small-6.column.text-center
-#           .counter.animated{"data-perc" => "46"}
-#             .number-detail
-#               %h2
-#                 .number
-#                 .text Tender Sources and counting
-#   %section#description
-#     .row
-#       .small-12.column
-#         Come to this section to quickly filter all the Current Tenders to your desired Keywords! Add them quickly to your watchlist if necessary.
  
-#   %section#tender-results

-#     - if @results_count.nil?

-#       .row
-#         .small-12.column
-#           %p You have no keywords. Start adding up to 20 keywords and get emails everyday on new tenders related to your set of keywords.

-#     - elsif @results_count == 0

-#       .row
-#         .small-12.column
-#           %p There are no tenders available. Change your keywords and get emails everyday on new tenders related to your set of keywords.

-#     = form_tag update_keywords_path, method: :post do

-#       .row
-#         .small-8.columns.small-centered.text-center
-#           Your keywords:
-#           = text_area_tag 'keywords', cookies[:keywords] || current_user.keywords, placeholder: "Enter up to 20 keywords separated by commas, eg. jurong,maintenance, event"
-#           %button#submit{:type => "submit"} UPDATE
-#       %br

-#     - unless @results_count.nil? || @results_count == 0
    
-#       .row
-#         .small-offset-6.small-6.column.text-right
-#           = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}
-#       = render partial: 'tenders/tenders_table', locals: {tenders: @tenders}
-#       .row
-#         .small-offset-6.small-6.column.text-right
-#           = render partial: 'tenders/total_count', locals: {results_count: @results_count, tenders: @tenders}

= react_component 'TendersListing', {url: api_v1_keywords_tenders_path(page: params[:page]), current_tenders_count: @current_tenders_count, keywords: @keywords}
        
#view-more-modal.reveal-modal{:'data-reveal' => '', :'aria-hidden' => "true", role: "dialog"}
