.row
  .small-12.column
    = react_component 'GenericTendersTable', {tenders: tenders}

- content_for :javascript do
  :javascript
    $(function(){
      $(document).on('click', '.watch-button, .unwatch-button, .more-button', function(){
        $('html,body').addClass('loading');
      });
    });