%a.close-reveal-modal{:'aria-label' => "Close"} &#215;
.row
  .small-12.column.text-center
    %h3#notice This action is not available for non members.
    %h4 Sign up and join our community now!
    %h2 Its Free to Get Tender/RFQ Notifications!
    = link_to 'Register Now', register_path, class: 'button register-now-button round ga-static-pages', data: {gtm_category:'', gtm_action: 'register', gtm_label: 'registration popup', scroll: ""}