/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require tyger/css/style
 *= require tyger/css/skins/red
 *= require foundation-datepicker
 *= require_tree .
 *= require_self
 */

 @import "font-awesome";
 
.flash-row {
  background: transparent;
}

html,body {
  font-size: 110%;
  &.loading {
    cursor: wait !important;
    a:hover {
      cursor: wait !important;
    }
  }
}

.blur {
  /* firefox uses SVG filters */
  filter: url(#A);
  /* IE specific */
  filter: progid:DXImageTransform.Microsoft.Blur(pixelradius=10); 
  
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  -o-filter: blur(3px);
  filter: blur(3px);

  color: #666;

  pointer-events: none;
}

.ghost-block {
  height: 100%;
  white-space: nowrap;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    // margin-right: -0.25em /* Adjusts for spacing */
  }
}

img.grayscale {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  /* Disable grayscale on hover */
  &:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}

// @media only screen and (max-width: 40em) {
//   html,body {
//     font-size: 110%;
//   }
// }