.brain_tree
  &.upgrade
    margin-top: 84px
    section#pricing-plans
      .title-section
        margin-bottom: 24px
        h3
          border: none
    section#payment-method
      display: none
      padding-top: 0
      #plan-price
        font-size: 30px
        text-align: center