.brain_tree

  #minor
    font-size: 12px
    color: white

  #renewal-toggle
    margin: 0
    
  #renew-true
    color: #43AC6A
    display: none
    margin: 0

  #renew-false
    color: #f04124
    display: none
    margin: 0

  &.billing

    section#pricing-plans

      .title-section
        margin-bottom: 24px
        h3
          border: none

  &.payment_history

    .title-section
      margin-bottom: 24px
      h3
        border: none
    table
      width: 100%
      border: 0
      tbody
        tr
          border-bottom: solid 1px #f1f1f1

  &.change_payment

    hr
      margin: 25px 0

    #actions
      input[data-toggle]
        display: none
      input[data-toggle] + label
        border: 1px solid #386ec4
        background: none
        color: black
      input[data-toggle]:checked + label,
      input[data-toggle]:checked + label:active
        background-color: #386ec4
        color: white

    #change-card-content
      display: none
