.users-registrations, .users-sessions
  &.new, &.edit
    .title-section
      margin-bottom: 0
      h3
        border-right: none
    button#submit
      margin-bottom: 0
    .shared-links
      margin-top: 16px
      margin-bottom: 16px
      text-align: center