.pages
  &.home
    header
      background: transparent
      &.shrink
        background-color: #212121
      h1.logo a:hover,
      #trigger-overlay:hover
        color: #ff4444
    li.active a
      color: #ff4444 !important
    .alert-box
      position: absolute
      top: 84px
      z-index: 2
      left: 0
      right: 0
    .sign-up-link:hover
      color: #d60303 !important
    #contacts
      .title-section
        margin-bottom: 0
      #message
        margin-top: 0
        padding-top: 0
  &.post_a_tender
    section
      .button
        font-size: 50px
        font-family: 'Raleway'
        font-weight: bold