@import "variables_and_mixins"

.pages
  &.home
    
    .alert-box
      position: absolute

    header

      background: transparent

      .header-logo a
        color: white
        &:before
          background-color: #fff

      ul.menu-list

        li.separator
          border-left: 2px solid white
          padding-left: 5px
          &:hover > a,
          & > a:hover
            &:before
              left: 5%
              -webkit-transform: scaleX(0.9)
              transform: scaleX(0.9)

        & > li > a
          color: white
          text-align: right
          &:before
            background-color: #fff
      
      .menu-toggle-button, .menu-toggle-button.active
        color: white
      
      .menu-toggle-button
        i.icon
          color: white
      
      .menu-toggle-button.active
        i.icon
          color: black

      &.shrink
        background-color: $color-blue

    h1
      margin-top: 0
      margin-left: auto
      margin-right: auto
      max-width: 800px
      color: white
      text-align: center
      border-bottom: 1px solid
      border-color:rgba(255,255,255,0.6)

    .bg-overlay
      position: absolute
      top: 0px
      left: 0px
      height: 100%
      width: 100%
      background-color: $color-blue
      opacity: 0.8

    .sub-content
      p,span
        color: #fff
        font-size: 1.2rem
        padding-top: 15px

      .button
        background: rgba(255,255,255,0.5)
        font-weight: bold
        color: white
        border: 0
        &:hover
          background: rgba(0,0,0,0.5)
          color: white
          border: 0

      span.number
        font-family: "PT Sans", sans-serif, sans-serif
        font-size: 3rem


    section#how-it-works

      .title-section
        margin-bottom: 0
      
      .section-desc h2
        font-size: 1.4375rem

      #services-container

        .button
          border: none
          background: $color-blue
          color: white

        span.number
          font-size: 1rem
          line-height: 1

        p.counter
          font-size: 0.9rem

        .service
          text-align: center

          .icon
            font-size: 2.5rem
            margin-bottom: 1.5rem
            color: $color-blue


    section#email

      #sample-email-container
        position: relative

        .bg-overlay
          display: none

          .fa-search-plus
            margin: auto
            display: inline-block
            vertical-align: middle
            font-size: 50px
            color: white

        &:hover
          cursor: pointer
          .bg-overlay
            display: block

      .g-recaptcha
        margin-bottom: 16px
        div
          margin: auto

      #demo-email-form
        display: inline-block
        vertical-align: middle
        fieldset
          border: 0
          color: white
          input:not(:hover):not(:focus),
          input:hover:not(:focus)
            color: white
          input#agree
            margin: 0
          #agree-notice
            white-space: normal
            color: white

      .email-demo-submit-button
        border: 1px solid white
        color: white
        &:hover 
          border: 1px solid $color-blue
      #email-demo-submitted-button
        display: none
        background-color: #44cc9b
        cursor: default
        pointer-events: none
        color: white
        border: 1px solid #44cc9b

    section#demo

      p
        font-size: 1rem

      #search-field
        padding: 0

      select.sort
        display: inline-block
        width: auto
        padding-right: 16px
        margin-left: 5px

    section#sources-and-counting
      .title-section
        margin-bottom: 0

        .sources-count
          color: $color-blue
          font-size: 100px
          font-family: "PT Sans", sans-serif

      p.recommendation
        font-style: italic
        a
          color: $color-light-blue

      .remainder-tender-source,
      #show-all,
      #hide-all
        display: none
        &.active
          display: inline-block

      #show-all,
      #hide-all
        margin: 16px auto
        color: white
        border: 1px solid white
        &:hover
          border: 1px solid $color-blue
          background-color: $color-blue

      ul
        margin: 0
        list-style-type: none
        border: solid 1px #eceaea
        padding: 0 16px
        li
          overflow-wrap: break-word

    section#contacts
      .title-section
        margin-bottom: 0

      #message
        margin-top: 0
        padding-top: 0
    
    #register-modal
      z-index: 10001 // 1 higher header
      #notice
        color: #ff4444
      .register-now-button
        font-size: 30px

    #submit
      margin-bottom: 11rem

  &.faq

    section#faq-general

      li.accordion-navigation
      
        p:not(:last-child)
          margin-bottom: 16px

    section#faq-billing

      li.accordion-navigation:not(.active)

        & > a
          color: white

      li.accordion-navigation
        .content

          a
            display: inline-block

          p:not(:last-child)
            margin-bottom: 16px

    .title-section
      margin-bottom: 0

  &.contact
    
    i.fa:before
      margin-right: 5px

    .title-section
      margin-bottom: 0

  &.terms_of_service

    ol, p
      color: #666
      font-size: 1rem

@media only screen and (max-width: 40em)
  .pages
    &.home
      header
        ul.menu-list
          li.separator
            border-left: none
            padding-left: 0
            &:hover > a,
            & > a:hover
              &:before
                left: 0
                -webkit-transform: scaleX(1)
                transform: scaleX(1)