.current_tenders,
.past_tenders,
.watched_tenders,
.keywords_tenders,
.tenders
  #wrapper
    margin-top: 84px
  &.index
    #wrapper
      section#search-field
        padding-bottom: 0
      section#tender-results
        padding-top: 0
        span#total-count
          font-weight: bold
          font-size: 16px
        table#results-table
          thead
            th
              border: 1px solid #d9d9d9
          tbody
            td
              padding: 5px
              text-align: center
              border: 1px solid #d9d9d9
    #view-more-modal
      .main
        border-right: 1px solid #b2b2b2
      .header
        font-weight: bold


.tenders
  &.show
    .main
      border-right: 1px solid #b2b2b2
    .header
      font-weight: bold