.watched_tenders
  &.index
    #wrapper
      ul.tabs
        margin-top: 30px
        li.tab-title
          width: 50%
          display: block
          text-align: center
          font-size: 30px
          -webkit-flex: none
          flex: none
          a
            background: white
            font-weight: 700
            -webkit-transition: color 0.3s
            transition: color 0.3s
            padding-top: 17px
            &:hover, &:focus
              color: #ff4444
              &::after
                background: white
            &::after
              position: absolute
              top: 0
              left: 3%
              z-index: -1
              width: 94%
              height: 32px
              background: #d2d8d6
              content: ''
              -webkit-transition: background-color 0.3s, -webkit-transform 0.3s
              transition: background-color 0.3s, transform 0.3s
              -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1)
              transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1)
              -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0)
              transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0)
          &.active
            a
              font-weight: bold
              color: white
              background: #ff4444
              &::after
                background: #ff4444
                width: 100%
                left: 0
      .tabs-content
        padding-top: 0
        margin-top: 0
        section.search-field
          padding-top: 90px
          padding-bottom: 0
          .title-section
            margin-bottom: 0
          #query-field
            background: #e5e5e5
          button.search-submit-button,
          button.back-button
            margin-bottom: 0
            padding
          button.search-submit-button
            background: #ff4444
            &:hover
              background: #d60303