/ start header
%header
  .row
    .medium-6.small-6.columns.text-align-left
      / start logo
      %h1.logo
        %a{:href => "index.html", :title => ""} Tyger
      / end logo
    .medium-6.small-6.columns.text-right
      / start open/close menu
      %a#trigger-overlay{:href => "#", :title => ""}
        %i.icon.tyger-navicon
      / end open/close menu
/ end header
/ start styleswitcher, remove this
.switcher
/ end styleswitcher
/ Preloader
.mask
  #loader.rotating
/ /Preloader